.white {
    color: white;
}

.color {
    color: #42e9ff;
}

h1 {
    background-color: black;
}

.header {
    text-align: left;
    font-family: monospace;
    font-weight: 600;
    font-size: 300%;
}

h2 {
    text-align: center;
    font-family: monospace;
    background-color: blueviolet;
    font-size: 275%;
}

h3 {
    background-color: #83aeff;
    color: #0b0035;
    text-align: right;
    text-decoration: underline;
    font-size: 250%;
}